@using DataAccess.CustomModels
@model Profile;
<form method="post" asp-action="SaveEditProfile" asp-controller="Patient" enctype="multipart/form-data" class="container my-5 p-4 shadow dark-mode2" id="main-cont">

    <div class="row">
        <h5 class="col-12">General Information</h5>
        <input asp-for="userId" hidden />
        <div class="col-12 col-md-6">
            <div class="form-floating mb-3">
                <input asp-for="FirstName" type="text" class="form-control dark-mode1" id="floatingInputDisabled" placeholder="name" disabled>


                <label for="floatingInputDisabled">First Name</label>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

        </div>
        <div class="col-12 col-md-6">
            <div class="input-div form-floating mb-3">
                <input asp-for="LastName" type="text" class="form-control dark-mode1" id="floatingInput" disabled>
                <label for="floatingInput">Last Name</label>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="input-div form-floating mb-3">
                <input asp-for="DateOfBirth" type="date" max="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control dark-mode1" placeholder="name@example.com" disabled>
                <label for="floatingInput">Date Of Birth</label>
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <h5>Contact Information</h5>
        </div>



        <div class="col-6 col-md-2">
            <div class="form-floating">
                <select class="form-select dark-mode1" id="floatingSelect" type="select" aria-label="Floating label select example" disabled>
                    <option value="1">Mobile</option>
                    <option value="2">Landline</option>
                </select>
                <label for="floatingSelect">Works With Selects</label>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <div class="input-div form-floating mb-3">
                <input type="number" asp-for="PhoneNo" class="form-control dark-mode1 p-3 ps-5" id="phone1" disabled>
                <span asp-validation-for="PhoneNo" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="input-div form-floating mb-3">
                <input asp-for="Email" type="email" class="form-control dark-mode1" placeholder="name@example.com" disabled>
                <label for="floatingInput">Email</label>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-12">
            <h5>Patient Location</h5>
        </div>
        <div class="col-12 col-md-6">
            <div class="input-div form-floating mb-3">
                <input asp-for="Street" type="text" class="form-control dark-mode1" value="@Model.Street" id="floatingInputStreet" placeholder="" disabled>
                <label for="floatingInput">Street</label>
                <span asp-validation-for="Street" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="input-div form-floating mb-3">
                <input asp-for="City" type="text" class="form-control dark-mode1" value="@Model.City" id="floatingInputCity" placeholder="" disabled>
                <label for="floatingInput">City</label>
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="input-div form-floating mb-3">
                <input asp-for="State" type="text" class="form-control dark-mode1" value="@Model.State" id="floatingInputState" placeholder="" disabled>
                <label for="floatingInput">State</label>
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
        </div>
        <div class="col-10 col-md-5">
            <div class="input-div form-floating mb-3">
                <input asp-for="ZipCode" type="number" class="form-control dark-mode1" value="@Model.ZipCode" id="floatingInputZipcode" placeholder="" disabled>
                <label for="floatingInput">Zip Code</label>
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
        </div>
        <div class="col-2 col-md-1">
            <div class="form-floating mb-3">
                <button type="button" class="btn btn-outline-primary" onclick="createReqMap()" style="height:3.4rem ;"> <i class="bi bi-geo-alt"></i> Map</button>
            </div>
        </div>

    </div>

    <div class="col w-auto">
        <a role="button" class="back btn btn-outline-info" id="editButton">
            Edit
        </a>
    </div>

    <div class="col w-auto">
        <button type="reset" id="profileCancelBtn" class="btn btn-outline-info CancelBtn"
                hidden>
            Cancel
        </button>
        <button class="back btn btn-outline-info" type="submit" id="saveButton" hidden>
            Save
        </button>
    </div>

</form>

<partial name="_ValidationScriptsPartial" />
<script>
    const prophoneInputField = document.getElementById("phone1");

    const prophoneInput = window.intlTelInput(prophoneInputField, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });
    //script for edit and save button
    $(document).ready(function () {



    });
    $('#editButton').click(function () {


        $('input[type="text"]').removeAttr('disabled', false);

        $('input[type="date"]').removeAttr('disabled', false);
        $('input[type="number"]').removeAttr('disabled', false);


        // Hide the edit button after clicking it
        $(this).attr('hidden', true);
        $('#saveButton').removeAttr('hidden', false);
        $('#profileCancelBtn').removeAttr('hidden', false);
    });

    $('#profileCancelBtn').click(function () {


        $('input[type="text"]').attr('disabled', true);
        $('input[type="date"]').attr('disabled', true);
        $('input[type="number"]').attr('disabled', true);

        // Hide the edit button after clicking it
        $(this).attr('hidden', true);
        $('#saveButton').attr('hidden', true);
        $('#editButton').removeAttr('hidden', false);
    });

    function createReqMap() {
        var street = $("#floatingInputStreet").val();
        var city = $("#floatingInputCity").val();
        var state = $("#floatingInputState").val();
        var zipcode = $("#floatingInputZipcode").val();

        var url = "https://www.google.com/maps/search/?api=1&query=" + street + city + state + zipcode;

        window.open(url, '_blank');
    }
</script>