


<div class="status-tab row mt-3 mx-0  mx-md-3">
    <div class="col-4 col-md-2 p-1 p-md-3 ">
        <button class=" statustablinks darkblue " onclick="openTab(event, 'tab1')">
            <div class="d-flex flex-column align-items-start">
                <span>
                    <i class="d-none d-md-block bi bi-plus-circle-dotted"></i> New
                </span>
                <span class="fs-5">
                    @if (Model == null)
                    {
                        <span>-</span>
                    }
                    else
                    {
                        int count = 0;
                        foreach (var item in Model)
                        {
                            if ((item.status == 1))
                            {
                                count++;
                            }
                        }
                        <span>@count</span>
                    }
                </span>

            </div>
        </button>
    </div>
    <div class="col-4 col-md-2 p-1 p-md-3">
        <button class="col-md-2 statustablinks lightblue" onclick="openTab(event, 'tab2')">
            <div class="d-flex flex-column align-items-start">
                <span>
                    <i class="d-none d-md-block bi bi-person-exclamation"></i> Pending
                </span>
                <span class="fs-5">
                    @if (Model == null)
                    {
                        <span>-</span>
                    }
                    else
                    {
                        int count = 0;
                        foreach (var item in Model)
                        {
                            if ((item.status == 2))
                            {
                                count++;
                            }
                        }
                        <span>@count</span>
                    }
                </span>

            </div>
        </button>

    </div>
    <div class="col-4 col-md-2  p-1 p-md-3">
        <button class="col-md-2 statustablinks green" onclick="openTab(event, 'tab3')">
            <div class="d-flex flex-column align-items-start">
                <span>
                    <i class="d-none d-md-block bi bi-check2-circle"></i> Active
                </span>
                <span class="fs-5">
                    @if (Model == null)
                    {
                        <span>-</span>
                    }
                    else
                    {
                        int count = 0;
                        foreach (var item in Model)
                        {
                            if ((item.status == 4 || item.status == 5))
                            {
                                count++;
                            }
                        }
                        <span>@count</span>
                    }
                </span>

            </div>
        </button>

    </div>
    <div class="col-4 col-md-2 p-1 p-md-3">
        <button class="col-md-2 statustablinks pink" onclick="openTab(event, 'tab4')">
            <div class="d-flex flex-column align-items-start">
                <span>
                    <i class="d-none d-md-block bi bi-arrow-clockwise"></i> Conclude
                </span>
                <span class="fs-5">
                    @if (Model == null)
                    {
                        <span>-</span>
                    }
                    else
                    {
                        int count = 0;
                        foreach (var item in Model)
                        {
                            if ((item.status == 6))
                            {
                                count++;
                            }
                        }
                        <span>@count</span>
                    }
                </span>

            </div>
        </button>

    </div>
    <div class="col-4 col-md-2 p-1 p-md-3">
        <button class="col-md-2 statustablinks blue" onclick="openTab(event, 'tab5')">
            <div class="d-flex flex-column align-items-start">
                <span>
                    <i class="d-none d-md-block bi bi-person-lock"></i> To Close
                </span>
                <span class="fs-5">
                    @if (Model == null)
                    {
                        <span>-</span>
                    }
                    else
                    {
                        int count = 0;
                        foreach (var item in Model)
                        {
                            if ((item.status == 3 || item.status == 7) || item.status == 8)
                            {
                                count++;
                            }
                        }
                        <span>@count</span>
                    }
                </span>

            </div>
        </button>

    </div>
    <div class="col-4 col-md-2 p-1 p-md-3">
        <button class="col-md-2 statustablinks purple" onclick="openTab(event, 'tab6')">
            <div class="d-flex flex-column align-items-start">
                <span>
                    <i class="d-none d-md-block bi bi-currency-dollar"></i> Unpaid
                </span>
                <span class="fs-5">
                    @if (Model == null)
                    {
                        <span>-</span>
                    }
                    else
                    {
                        int count = 0;
                        foreach (var item in Model)
                        {
                            if ((item.status == 9))
                            {
                                count++;
                            }
                        }
                        <span>@count</span>
                    }
                </span>

            </div>
        </button>

    </div>

</div>

<div class="d-flex justify-content-between">
    <span class="fw-bold">
        <span class="fs-4">Patients</span>
        <span style="color: darkblue;">(New)</span>
    </span>
    <span class="d-flex gap-1 gap-md-2">
        <button class="action-btn my-3 d-flex gap-2">
            <i class="bi bi-send"></i> <span class="d-none d-md-block">
                Send
                Link
            </span>
        </button>
        <button class="action-btn my-3 d-flex gap-2">
            <i class="bi bi-journal-text"></i> <span class="d-none d-md-block">Create Requests</span>
        </button>
        <button class="action-btn my-3 d-flex gap-2">
            <i class="bi bi-reply"></i> <span class="d-none d-md-block">Export</span>
        </button>
        <button class="action-btn my-3 d-flex gap-2">
            <i class="bi bi-reply-all"></i> <span class="d-none d-md-block">Export All</span>
        </button>
        <button class="action-btn my-3 d-flex gap-2">
            <i class="bi bi-person"></i> <span class="d-none d-md-block">
                Request
                DTY Support
            </span>
        </button>
    </span>
</div>
    <div class="row mt-3 bg-white">
        <div class="col-12 col-md-2 pt-2">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingInput" placeholder="Search">
                <label for="floatingInput"><i class="bi bi-search"></i> Search</label>
            </div>
        </div>
        <div class="col-12 col-md-2 pt-2">
            <div class="form-floating">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                    <option selected>Regions</option>
                    <option value="1">new york</option>
                    <option value="2">usa</option>
                </select>
                <label for="floatingSelect"><i class="bi bi-search"></i> All Regions</label>
            </div>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-12 col-md-4 d-flex justify-content-around align-items-center">

            <div class="d-none d-md-block">
                <div>All</div>
            </div>
            <div><span class="patient_circle"></span><span>Patient</span></div>
            <div><span class="family_circle"></span><span>Friend/Family</span></div>
            <div><span class="business_circle"></span><span> Business</span></div>
            <div><span class="concierge_circle"></span><span> Concierge</span></div>
            <div><span class="vip_circle"></span><span> VIP</span></div>

        </div>
    </div>

</div>


<div id="tab1" class="statustabcontent">
    <partial name="_newrequest" />

</div>


<div id="tab2" class="statustabcontent">
    <partial name="_pendingrequest" />
</div>

<div id="tab3" class="statustabcontent">
    <partial name="_activerequest" />
</div>
<div id="tab4" class="statustabcontent">
    <partial name="_concluderequest" />
</div>
<div id="tab5" class="statustabcontent">
    <partial name="_toCloserequest" />
</div>
<div id="tab6" class="statustabcontent">
    <partial name="_unpaidrequest" />
</div>




