
@using DataAccess.CustomModels;
@model CreateProviderAccount;

<div class="container">
    <div class="container-fluid d-flex justify-content-between mt-4" >
        <h4>
            Create Provider Account
        </h4>
        <div class="d-inline-flex">
            <button onclick="ShowProvider()" id="back-btn">&lt; Back</button>
        </div>
    </div>
    <div class="d-flex justify-content-center my-4 bg-white">
        <div class="viewCaseForm form-floating shadow patient-request-form p-3">

            <form method="post" asp-controller="Admin" asp-action="CreateProviderAccount" enctype="multipart/form-data">
                <h5>Account Information</h5>
                <div class="row g-2 m-1">
                    <div class="col-md">
                        <div class="form-floating">
                            <input type="text" asp-for="UserName" class="form-control" id="userName" placeholder="">
                            <label for=" ">User Name</label>
                        </div>
                    </div>

                    <div class="col-md">
                        <div class="form-floating">
                            <input type="text" asp-for="Password" class="form-control" id="password" placeholder="">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="form-floating">
                            <select class="form-select mb-3" id="role" asp-for="Role">
                                <option selected disabled>Select A Role</option>
                                 @foreach (var item in Model.RolesList)
                                {
                                    <option value="@item.Roleid">@item.Name</option>
                                } 
                            </select>
                            <label for="role">Role</label>
                        </div>
                    </div>
                </div>

                <h5>Physician Information</h5>


                <div class="row g-2 m-1">
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" asp-for="FirstName" placeholder="">
                            <label for="">First Name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" asp-for="LastName" placeholder="">
                            <label for="floatingSelectGrid">Last Name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="email" class="form-control" asp-for="Email" placeholder="">
                            <label for="">Email</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating phone-div w-100 h-100">
                            <input type="tel" class="patientPhone form-control w-100 h-100" asp-for="Phone" placeholder="">
                            <label for="">Phone</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" asp-for="MedicalLicenseNumber" placeholder="">
                            <label for="">Medical License Number</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" asp-for="NPINumber" placeholder="">
                            <label for="">NPI Number</label>
                        </div>
                    </div>
                    <div class="col-6 d-flex justify-content-start gap-2 my-3">
                        <span>
                             @foreach (var item in Model.RegionList)
                            {
                                <input class="form-check-input" type="checkbox" value="@item.Regionid" name="ProviderRegion" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    @item.Name
                                </label>
                            } 
                        </span>
                    </div>
                </div>



                <h5>Mailing & Billing Information</h5>

                <div class="row g-2 m-1">
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" asp-for="Address1" placeholder="">
                            <label for="">Address1</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" asp-for="Address2" placeholder="">
                            <label for="floatingSelectGrid">Address2</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" asp-for="City" placeholder="">
                            <label for="">City</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating ">
                            <select class="form-select" aria-label="Default select example" asp-for="State">
                                <option selected disabled>Select A Region</option>
                                 @foreach (var items in Model.RegionList)
                                {
                                    <option value="@items.Regionid">@items.Name</option>
                                } 
                            </select>
                            <label for="">Region</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" asp-for="Zip" placeholder="">
                            <label for="">Zip</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating phone-div w-100 h-100 ">
                            <input type="number" class="patientPhone form-control w-100 h-100" asp-for="PhoneNumber" placeholder="">
                            <label for="">Phone</label>
                        </div>
                    </div>
                </div>


                <div class="my-3"></div>
                <h5>Provider Profile</h5>
                <fieldset id="fieldset4">

                    <div class="row g-2 m-1">
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" asp-for="BusinessName" placeholder="">
                                <label for="">Business name</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" asp-for="BusinessWebsite" placeholder="">
                                <label for="floatingSelectGrid">Business Website</label>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="input-group m-1 mb-3">
                                <input asp-for="Photo" type="file" id="actualFileBtn1" class="form-control" hidden>
                                <span id="fileChoosen1" class="form-control">Select Photo</span>
                                <label class="input-group-text btn btn-primary" id="uploadFileLabel1" for="actualFileBtn1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-up" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M7.646 5.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708z" />
                                        <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383m.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z" />
                                    </svg>
                                    Upload
                                </label>
                            </div>
                            <br />
                            @*<img style="height:150px;width:150px" src="/uploadedFiles/ProviderData/@Model.Photo" alt="Photo" /> *@
                        </div>

                        <div class="col-lg-12 col-md-12 col sm-12 col-12 ">
                            <textarea class="form-control" asp-for="AdminNote" id="exampleFormControlTextarea1" rows="5" placeholder="Admin Notes"></textarea>
                        </div>
                    </div>

                </fieldset>


                <div class="my-4"></div>

                <div class="border-bottom border-5"></div>

                <h5>Onboarding</h5>

                <div class="row my-1">
                    <div class="wrapper d-flex">
                        <div class="col-1 m-1">
                            <input type="checkbox" style="height:20px;width:20px" class="btn-outline-info" />
                        </div>
                        <div class="col-4">
                            <span>Independent Contract Agreement</span>
                        </div>
                        <div class="col-2">
                            <button id="ica-upload-btn" type="button" class="btn btn-primary">Upload</button>
                        </div>

                        <div class="col">
                            <input asp-for="ICA" type="file" id="ica-file-input" hidden />
                            <span id="ica-file-name-text" class="fw-bold"></span>
                        </div>
                    </div>
                </div>

                <div class="row my-1">
                    <div class="wrapper d-flex">
                        <div class="col-1 m-1">
                            <input type="checkbox" style="height:20px;width:20px" class="btn-outline-info" />
                        </div>
                        <div class="col-4">
                            <span>Background Check</span>
                        </div>
                        <div class="col-2">
                            <button id="bg-check-upload-btn" type="button" class="btn btn-primary">Upload</button>
                        </div>

                        <div class="col">
                            <input asp-for="BGCheck" type="file" id="bg-check-file-input" hidden />
                            <span id="bg-check-file-name-text" class="fw-bold"></span>
                        </div>
                    </div>
                </div>

                <div class="row my-1">
                    <div class="wrapper d-flex">
                        <div class="col-1 m-1">
                            <input type="checkbox" style="height:20px;width:20px" class="btn-outline-info" />
                        </div>
                        <div class="col-4">
                            <span>HIPAA Compliance</span>
                        </div>
                        <div class="col-2">
                            <button id="hipaa-upload-btn" type="button" class="btn btn-primary">Upload</button>
                        </div>

                        <div class="col">
                            <input asp-for="HIPAACompliance" type="file" id="hipaa-file-input" hidden />
                            <span id="hipaa-file-name-text" class="fw-bold"></span>
                        </div>
                    </div>
                </div>

                <div class="row my-1">
                    <div class="wrapper d-flex">
                        <div class="col-1 m-1">
                            <input type="checkbox" style="height:20px;width:20px" class="btn-outline-info" />
                        </div>
                        <div class="col-4">
                            <span>Non-Disclosure Agreement</span>
                        </div>
                        <div class="col-2">
                            <button id="nda-upload-btn" type="button" class="btn btn-primary">Upload</button>
                        </div>

                        <div class="col">
                            <input asp-for="NDA" type="file" id="nda-file-input" hidden />
                            <span id="nda-file-name-text" class="fw-bold"></span>
                        </div>
                    </div>
                </div>


                <div class="border-bottom border-5"></div>

                <button type="submit" class="btn btn-success float-end m-1 ">Create Account</button><br />
            </form>
        </div>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous">
</script>



<script>

    $('#ica-upload-btn').click(function () {
        $("#ica-file-input").trigger('click');
    });
    $("#ica-file-input").change(function () {
        $('#ica-file-name-text').text(this.value.replace(/C:\\fakepath\\/i, ''))
    });

    $('#bg-check-upload-btn').click(function () {
        $("#bg-check-file-input").trigger('click');
    });
    $("#bg-check-file-input").change(function () {
        $('#bg-check-file-name-text').text(this.value.replace(/C:\\fakepath\\/i, ''))
    });

    $('#hipaa-upload-btn').click(function () {
        $("#hipaa-file-input").trigger('click');
    });
    $("#hipaa-file-input").change(function () {
        $('#hipaa-file-name-text').text(this.value.replace(/C:\\fakepath\\/i, ''))
    });


    $('#nda-upload-btn').click(function () {
        $("#nda-file-input").trigger('click');
    });
    $("#nda-file-input").change(function () {
        $('#nda-file-name-text').text(this.value.replace(/C:\\fakepath\\/i, ''))
    });
</script>