@using DataAccess.CustomModels;
@model CreateAdminAccount;

<div class="container">
    <div class=" d-flex justify-content-between mt-4">
        <h4>
            Create Admin Account
        </h4>
        <button onclick="location.href='@Url.Action("admin_dashboard", "Admin")'" class="dark-mode1" id="back-btn">&lt; Back</button>
    </div>
    <div class="justify-content-center shadow bg-white dark-mode1 my-4">
        <div class="viewCaseForm form-floating patient-request-form p-3">
            <form id="CreateAdminAccountForm" class="mb-4">
                <h5>Account Information</h5>
                <div class="row g-2 m-1">
                    <div class="col-4">
                        <div class="form-floating">
                            <input asp-for="UserName" type="text" class="form-control" id="AdminUserName">
                            <label for="">User Name</label>
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-floating">
                            <input asp-for="AdminPassword" type="password" class="form-control" id="AdminPassword">
                            <label for="floatingSelectGrid">Password</label>
                            <span asp-validation-for="AdminPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-floating ">
                            <select class="form-select form-control" id="Role" asp-for="roleId">
                                <option value="" disabled selected>Select Role</option>
                                @foreach (var obj in Model.roles)
                                {
                                    <option value="@obj.Roleid">
                                        @obj.Name
                                    </option>
                                }
                            </select>
                            <label for="">Role</label>
                            <span asp-validation-for="roleId" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <h5>Administration Information</h5>

                <div class="row g-2 m-1">
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input asp-for="FirstName" type="text" class="form-control" id="AdminFirstName">
                            <label for="">First Name</label>
                            <span asp-validation-for="FirstName" class="text-danger"></span>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input asp-for="LastName" type="text" class="form-control" id="AdminLastName">
                            <label for="floatingSelectGrid">Last Name</label>
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="email" asp-for="Email" class="form-control" id="AdminEmail">
                            <label for="">Email</label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="email" asp-for="ConfirmEmail" class="form-control" id="AdminConfirmEmail" onblur="confirmEmail()">
                            <label for="">Confirm Email</label>
                            <span asp-validation-for="ConfirmEmail" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating ">
                            <input style="height:58px;" id="phone1" asp-for="AdminPhone"
                                   class="form-control "
                                   type="number" />
                            <span class="text-danger" asp-validation-for="AdminPhone"></span>
                        </div>
                      
                    </div>
                    <div class="col-md-6 d-flex justify-content-start flex-wrap mt-4">
                        @foreach (var region in Model.RegionList)
                        {

                            <div class="form-floating mt-1 me-3 checkColor ">
                                <input class="region-checkbox form-check-input border" value="@region.Regionid" name="AdminRegion" type="checkbox" style="" />
                                <span>@region.Name</span>
                            </div>

                        }
                    </div>
                </div>
                <h5>Mailing & Billing Information</h5>

                <div class="row g-2 m-1">
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="text" asp-for="Address1" class="form-control" placeholder="Address1">
                            <label for="">Address1</label>
                            <span asp-validation-for="Address1" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="text" asp-for="Address2" class="form-control" placeholder="Address2">
                            <label for="floatingSelectGrid">Address2</label>
                            <span asp-validation-for="Address2" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="text" class="form-control" asp-for="City" placeholder="City">
                            <label for="">City</label>
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating phone-div w-100 h-100 ">
                            <select asp-for="regionId" class="form-select" aria-label="Default select example">
                                <option disabled selected>Regions</option>
                                @foreach (var items in Model.RegionList)
                                {
                                    <option value="@items.Regionid" selected>@items.Name</option>
                                }
                            </select>
                            <label for="">Select A Region</label>
                            <span asp-validation-for="regionId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <input type="text" asp-for="Zip" class="form-control" placeholder="zip">
                            <label for="">Zip</label>
                            <span asp-validation-for="Zip" class="text-danger"></span>
                        </div>
                    </div>
                  
                    <div class="col-md-6">
                        <input style="height:58px;" id="phone2" asp-for="BillingPhone"
                               class="form-control "
                               type="number" />
                        <span asp-validation-for="BillingPhone" class="text-danger"></span>

                    </div>
                </div>


                <button type="button" onclick="createAdminPostFor()" class="btn btn-success float-end m-1">Create Account</button><br />
            </form>
        </div>

    </div>
</div>
<partial name="_ValidationScriptsPartial" />


<script>
    const createAdminphoneInputField = document.getElementById("phone1");

    const createAdminphoneInput = window.intlTelInput(createAdminphoneInputField, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });

    const createAdminphoneInputField2 = document.getElementById("phone2");

    const createAdminphoneInput2 = window.intlTelInput(createAdminphoneInputField2, {
        utilsScript:
            "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });

    function createAdminPostFor() {

        if ($('#CreateAdminAccountForm').valid()) {
            var payload = $("#CreateAdminAccountForm").serializeArray();
            $.ajax({
                url: "/Admin/AdminAccount",
                type: 'POST',
                data: payload,
                success: function (response) {
                    if (response.isCreated) {
                        toastr.success("Admin Created Successfully");
                        window.location.reload();
                    }
                    else {
                        toastr.error("Something Went Wrong");
                    }
                },

                error: function (xhr, status, error) {
                    if (xhr.status === 401) {

                        window.location.reload();
                    }
                    console.error(error);
                }
            });
        }


    }
</script>