@using DataAccess.CustomModels;
@model accessModel;


<div class="container mt-3">
    <div class="d-flex justify-content-between align-items-center mx-3">
        <h4>Edit Role</h4>
        <button class="dark-mode1" onclick="AccountAccess()" id="back-btn">&lt; Back</button>
    </div>

    <form method="post" id="AccountEditForm" onsubmit="SetEditAccessAccount(document.getElementById('Role').value,document.getElementById('inputroleid').value)">

        <div class="m-3 p-3 border rounded shadow">
            <h5>Details</h5>
            <div class="row mt-1">
                <div class="form-floating mb-3 col-12 col-sm-6 ">
                    <input type="text" class=" form-control dark-mode1" id="RoleName"
                           placeholder="RoleName" aria-label="RoleName" asp-for="@Model.CreateAccountAccess.Name">
                    <span class="text-danger" asp-validation-for="@Model.CreateAccountAccess.Name"></span>
                    <label class="ms-2 " for="RoleName">Role Name</label>

                </div>
                <input type="text" value="@Model.CreateAccountAccess.RoleId" id="inputroleid" asp-for="@Model.CreateAccountAccess.RoleId" hidden />
                <div class="form-floating mb-3 col-12 col-sm-6 ">
                    <select class="form-select form-control dark-mode1   d1class" id="Role" value="this.value" asp-for="@Model.CreateAccountAccess.AccountType" onchange="FilterEditRolesMenu(this.value,document.getElementById('inputroleid').value)">
                        <option value="" disabled selected>All</option>
                        @foreach (var obj in Model.Aspnetroles)
                        {
                            <option value="@obj.Id">
                                @obj.Name
                            </option>
                        }
                    </select>
                   @*  <select class="form-select border-0" aria-label="Default select example" id="accountType">
                        @if (Model.AccType == 0)
                        {
                            <option value="0" selected>All</option>
                        }
                        else
                        {
                            <option value="0">All</option>
                        }
                        @if (Model.AccType == 1)
                        {
                            <option value="1" selected>Admin</option>
                        }
                        else
                        {
                            <option value="1">Admin</option>
                        }
                        @if (Model.AccType == 2)
                        {
                            <option value="2" selected>Physician</option>
                        }
                        else
                        {
                            <option value="2">Physician</option>
                        }
                    </select>  *@

                    @* <span class="text-danger" asp-validation-for="@Model.CreateAccountAccess.AccountType"></span> *@

                    <label for="Role" class="ms-2 ">Role</label>
                </div>
            </div>

            <div class="row mt-2">
                <div class="form-floating mb-3 col-12" id="EditRoleMenu">
                    @foreach (var obj in Model.AccountMenu)
                    {
                        <div class="form-check form-check-inline px-2 mx-3">
                            <input class="form-check-input d2class" name="AccountMenu" @(obj.ExistsInTable ? "checked" : "") type="checkbox" id="@obj.menuid" value="@obj.menuid">
                            <label class="form-check-label" for="@obj.menuid">@obj.name</label>
                        </div>
                    }
                </div>

            </div>



            <div class="d-grid gap-2 d-flex justify-content-center  justify-content-md-end m-4 pt-4 ">

                <button type="submit" class="btn text-white btn-info">Save</button>
                <button type="reset" id="cancelBtnPhyEdit1" class="btn btn-outline-info CancelBtn">
                    Cancel
                </button>


            </div>

        </div>

    </form>
</div>


<partial name="_ValidationScriptsPartial" />

<script>
    function FilterEditRolesMenu(accounttypeid, roleid) {
        event.preventDefault();
        
        $.ajax({
            method: "GET",
            url: "/Admin/FilterEditRolesMenu",
            data: { accounttypeid: accounttypeid, roleid: roleid },
            success: function (result) {
                $("#EditRoleMenu").html(result);
            },
            error: function () {
                console.log("Error");
            },
        });
    }
    function SetEditAccessAccount(accounttypeid, roleid) {
        event.preventDefault();
 
        if ($("#AccountEditForm").valid()) {
            $.ajax({
                method: "POST",
                url: "/Admin/SetEditAccessAccount",
                data: $("#AccountEditForm").serialize(),

                success: function (result) {
                    //localStorage.setItem('ajaxSuccess', true);
                    //localStorage.setItem('roleIdForUserAccess', roleid);
                    //localStorage.setItem('accTypeIdForUserAccess', accounttypeid);
                    console.log(result);
                    if (result.isEdited) {
                        //location.reload();
                        toastr.success("Data Updated Successfully");
                    }
                },
                error: function () {
                    alert("Error");
                },
            });
        }
    }



</script>