@using DataAccess.CustomModels;
@using DataAccess.Enums;
@model List<AdminDashTableModel>;



<div class="container-fluid pt-4">
    <div class="d-flex justify-content-between">
        <span class="fw-bold">
            <span class="fs-4">Patients</span>
            <span style="color: darkblue;">(New)</span>
        </span>
        <span class="d-flex gap-1 gap-md-3">
            <button class="action-btn">
                <i class="bi bi-send"></i> <span class="d-none d-md-block">
                    Send
                    Link
                </span>
            </button>
            <button class="action-btn">
                <i class="bi bi-journal-text"></i> <span class="d-none d-md-block">Create Requests</span>
            </button>
            <button class="action-btn" id="exportnew">
                <i class="bi bi-reply"></i> <span class="d-none d-md-block">Export</span>
            </button>
            <button class="action-btn onclick="ExportAll()">
                <i class="bi bi-reply-all"></i> <span class="d-none d-md-block">Export All</span>
            </button>
            <button class="action-btn">
                <i class="bi bi-person"></i> <span class="d-none d-md-block">
                    Request
                    DTY Support
                </span>
            </button>
        </span>
    </div>
    <div class="row mt-3 bg-white">
        <div class="col-12 col-md-2 pt-2">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="my-search-input" placeholder="Search">
                <label for="floatingInput"><i class="bi bi-search"></i> Search</label>
            </div>
        </div>
        <div class="col-12 col-md-2 pt-2">
            <div class="form-floating">
                <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                    <option selected>Regions</option>
                    <option value="1">new york</option>
                    <option value="2">usa</option>
                </select>
                <label for="floatingSelect"><i class="bi bi-search"></i> All Regions</label>
            </div>
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-12 col-md-4 d-flex justify-content-around align-items-center">

            <div class="d-none d-md-block">
                <div onclick="allElements()" style="cursor:pointer" class="border-2">All</div>
            </div>
            <div class="d-flex align-items-center" style="cursor:pointer" onclick="patientElements()"><div class="patient_circle"></div><span>Patient</span></div>
            <div class="d-flex align-items-center" style="cursor:pointer" onclick="familyFriendElements()"><div class="family_circle"></div><span>Friend/Family</span></div>
            <div class="d-flex align-items-center" style="cursor:pointer" onclick="businessElements()"><div class="business_circle"></div><span> Business</span></div>
            <div class="d-flex align-items-center" style="cursor:pointer" onclick="conciergeElements()"><div class="concierge_circle"></div><span> Concierge</span></div>
            

        </div>
    </div>

</div>



<!-- table -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<div class="d-none d-md-block">
    <table class="table table-hover data-table w-100">
        <thead class="table-secondary">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Date Of Birth</th>
                <th scope="col">Requestor</th>
                <th scope="col">Requested Date</th>
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
                <th scope="col">Notes</th>
                <th scope="col">Chats With</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                if (item.status == 1)
                {
                    var bgColor = "He";
                    var role = "hello";

                    @if (item.requestTypeId == (int)RequestTypeEnum.Business)
                    {
                        bgColor = "#d76879";
                        role = "Business";
                    }
                    else if (item.requestTypeId == (int)RequestTypeEnum.Patient)
                    {
                        bgColor = "#60be5e";
                        role = "Patient";


                    }
                    else if (item.requestTypeId == (int)RequestTypeEnum.Family)
                    {
                        bgColor = "#e69232";
                        role = "FamilyFriend";

                    }
                    else if (item.requestTypeId == (int)RequestTypeEnum.Concierge)
                    {
                        bgColor = "#0b7ebf";
                        role = "Concierge";
                    }

                    <tr class="tablerows  @role">
                        @*1*@
                        <td style="background:@bgColor">
                            <div class="d-flex justify-content-between">

                                <span>@item.firstName @item.lastName</span>
                                <a href="mailto:parthtrivedi0710@gmail.com.">
                                    <i class="bi bi-envelope text-white "></i>
                                </a>
                            </div>
                        </td>
                        @*2*@
                        <td style="background:@bgColor">Jun 16, 2023(0)</td>
                        @*3*@
                        <td style="background:@bgColor"> @item.requestorLname</td>
                        @*4*@
                        <td style="background:@bgColor">Nov 20, 2023 335h 1m 01m</td>
                        @*@item.strMonth @item.intDate , @item.intYear*@
                        @*5*@
                        <td style="background:@bgColor">
                            <div class="table_phone">
                                <a href="tel:@item.mobileNo">
                                    <i class="bi bi-telephone-fill text-white"></i>
                                    @item.mobileNo
                                </a>
                            </div>
                            (@role)  


                        </td>
                        @if ((item.street != null || item.city != null) || item.state != null)
                        {
                            <td style="background:@bgColor">, @item.city, @item.state </td>
                        }
                        else
                        {
                            <td style="background:@bgColor"> - </td>

                        }

                        @*7*@
                        <td style="background:@bgColor">-</td>
                        @*8*@
                        <td style="background:@bgColor">

                            <div class="d-flex">
                                <div class="dropdown mb-1 w-75">
                                    <button class="btn text-white border border-white py-1"
                                            type="button" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                        <i class="bi bi-person-fill"></i>
                                        <span>
                                            Patient
                                        </span>
                                    </button>

                                </div>

                            </div>
                            <div>
                                <div class="dropdown w-75">
                                    <button class="btn text-white border border-white py-1"
                                            type="button" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                        <i class="bi bi-person-badge-fill"></i>
                                        <span>
                                            Provider
                                        </span>
                                    </button>

                                </div>
                            </div>
                        </td>
                        @*9*@
                        <td style="background:@bgColor">
                            <div>
                                <div class="dropdown mt-3">
                                    <button class="btn text-white border border-white py-1  dropdown-toggle w-50 d-flex justify-content-around align-items-center"
                                            id="chat_with_dropdown2" type="button" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                        <span>
                                            Actions
                                        </span>
                                    </button>
                                    <ul class="dropdown-menu table_dropdowns">
                                        <li>
                                            <button class="dropdown-item" onclick="showAssignCase(@item.Reqid)">
                                                <i class="bi bi-card-checklist"></i>
                                                Assign Case
                                            </button>
                                        </li>
                                        <li>
                                            <button class="dropdown-item" onclick="showCancelCase(@item.Reqid)">
                                                <i class="bi bi-x-circle"></i>
                                                Cancel Case
                                            </button>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="@Url.Action("viewcase", new {Requestclientid = item.requestClientId , RequestTypeId = item.requestTypeId})">
                                                <i class="bi bi-file-earmark-text"></i>
                                                ViewCase
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="@Url.Action("viewnotes", new {ReqId = item.Reqid})">
                                                <i class="bi bi-file-earmark-text"></i>
                                                ViewNotes
                                            </a>
                                        </li>
                                        <li>
                                            <button class="dropdown-item" onclick="showBlockCase(@item.Reqid)">
                                                <i class="bi bi-ban"></i>
                                                Block Patient
                                            </button>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>

</div>
<div id="modelContent"></div>



<!-- accordions -->
<div class="accordion accordion-flush d-block d-md-none" id="accordionFlushExample">
</div>

<script>
    $("#exportnew").click(function () {
        //alert("exportbtn was clicked.");
        var request = @Html.Raw(Json.Serialize(Model));
        console.log(request);
        Export(request);
    });

    function allElements() {

        let a = document.getElementsByClassName("Patient");
        console.log(a)

        for (let i = 0; i < a.length; i++) {
            a[i].style.display = "table-row";
        }

        let b = document.getElementsByClassName("FamilyFriend");

        for (let i = 0; i < b.length; i++) {
            b[i].style.display = "table-row";
        }

        let c = document.getElementsByClassName("Concierge");

        for (let i = 0; i < c.length; i++) {
            c[i].style.display = "table-row";
        }


        let d = document.getElementsByClassName("Business");


        for (let i = 0; i < d.length; i++) {
            d[i].style.display = "table-row";
        }
    }

    function patientElements() {
        let b = document.getElementsByClassName("FamilyFriend");
        let c = document.getElementsByClassName("Concierge");
        let d = document.getElementsByClassName("Business");

        for (let i = 0; i < b.length; i++) {
            b[i].style.display = "none";
        }

        for (let i = 0; i < c.length; i++) {
            c[i].style.display = "none";
        }

        for (let i = 0; i < d.length; i++) {
            d[i].style.display = "none";
        }


        let a = document.getElementsByClassName("Patient");

        for (let i = 0; i < a.length; i++) {
            a[i].style.display = "table-row";
        }


    }


    function familyFriendElements() {
        let a = document.getElementsByClassName("Patient");
        let c = document.getElementsByClassName("Concierge");
        let d = document.getElementsByClassName("Business");

        for (let i = 0; i < a.length; i++) {
            a[i].style.display = "none";
        }

        for (let i = 0; i < c.length; i++) {
            c[i].style.display = "none";
        }

        for (let i = 0; i < d.length; i++) {
            d[i].style.display = "none";
        }

        let b = document.getElementsByClassName("FamilyFriend");

        for (let i = 0; i < b.length; i++) {
            b[i].style.display = "table-row";
        }

    }


    function conciergeElements() {
        let a = document.getElementsByClassName("Patient");
        let b = document.getElementsByClassName("FamilyFriend");
        let d = document.getElementsByClassName("Business");

        for (let i = 0; i < a.length; i++) {
            a[i].style.display = "none";
        }

        for (let i = 0; i < b.length; i++) {
            b[i].style.display = "none";
        }

        for (let i = 0; i < d.length; i++) {
            d[i].style.display = "none";
        }


        let c = document.getElementsByClassName("Concierge");

        for (let i = 0; i < c.length; i++) {
            c[i].style.display = "table-row";
        }

    }

    function businessElements() {

        let a = document.getElementsByClassName("Patient");
        let b = document.getElementsByClassName("FamilyFriend");
        let c = document.getElementsByClassName("Concierge");

        for (let i = 0; i < a.length; i++) {
            a[i].style.display = "none";
        }

        for (let i = 0; i < b.length; i++) {
            b[i].style.display = "none";
        }

        for (let i = 0; i < c.length; i++) {
            c[i].style.display = "none";
        }



        let d = document.getElementsByClassName("Business");


        for (let i = 0; i < d.length; i++) {
            d[i].style.display = "table-row";
        }


    }
    $(document).ready(function () {

        $('.data-table').DataTable({
            "initComplete": function (settings, json) {

                $('#my-search-input').val(settings.oPreviousSearch.sSearch);

                $('#my-search-input').on('keyup', function () {
                    var searchValue = $(this).val();
                    settings.oPreviousSearch.sSearch = searchValue;
                    settings.oApi._fnReDraw(settings);
                });
            },
            "lengthMenu": [[5, 10, -1], [5, 10, "All"]],
            "pageLength": 5,
            language: {
                oPaginate: {
                    sNext: '<i class="bi bi-caret-right-fill text-info"></i>',
                    sPrevious: '<i class="bi bi-caret-left-fill text-info"></i>'

                }
            }
        });
        // $('.dataTables_length').hide();
        $('.dataTables_filter').hide();
    });



</script>