@using DataAccess.CustomModels;
@model List<ProviderModel>;
<style>
    .form-check-input:checked {
        background-color: #0dcaf0 !important;
        border-color: #0dcaf0 !important;
    }
</style>

<div class="container">
    <h4 class="my-4">Provider Information</h4>

    <div class="border rounded shadow p-3 bg-white">
        <div class="d-md-flex justify-content-between align-items-center mb-3">
            <form role="search" class="d-flex align-items-center border border-rounded rounded border-info mb-3">
                <i type="search" class="fa-solid fa-magnifying-glass px-2" style="color:#adadad;position:absolute;    "></i>
                <select class="form-select border-0 regionDropdown ps-4" aria-label="Default select example">
                    <option selected disabled>All Region</option>

                </select>
            </form>
            <div class="d-flex justify-content-center  mb-3">

                <button type="button" class="btn btn-info text-light ">Create Provider Account</button>
            </div>
        </div>
        <div class="table-responsive d-lg-block d-none">
            <table class="table">
                <thead class="bg-body-tertiary ">
                <thead>
                    <tr>
                        <th class="">Stop Notification </th>
                        <th>Provider Name <span><i class="bi bi-arrow-up"></i></span></th>
                        <th>Role</th>
                        <th>On Call Status</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                        @foreach (var item in Model)
                        {
                        <tr class="align-middle">
                            <td class="ps-5">
                                    @*<input type="hidden" asp-for="@item.Physicianid" value="@item.Physicianid"/> *@
                                    @if (item.notification == true)
                                    {
                                    <input type="checkbox" name="Mark" class="checkbox fileCheckbox px-4 providerCheckBox" checked onchange="checkBox(@item.phyId)" />
                                    }
                                    else
                                    {
                                    <input type="checkbox" name="Mark" class="checkbox fileCheckbox px-4 providerCheckBox" onchange="checkBox(@item.phyId)" />
                                    }
                            </td>
                            <td>
                                <span class="document-name mx-2">@item.firstName @item.lastName</span>
                            </td>
                            <td>@item.role</td>
                            <td>@item.onCallStatus</td>

                            <td>@item.status</td>
                            <td>
                                <button type="button" class="btn  border-info text-info" onclick="contactProvider(@item.phyId)">
                                    Contact
                                </button>
                                <button type="button" class="btn  border-info text-info" onclick="editProvider(@item.phyId)">
                                    Edit
                                </button>
                            </td>
                        </tr>
                        }

                </tbody>

            </table>
        </div>

        <div class="border rounded shadow d-block d-lg-none">
            <div class="accordion container-fluid p-0" id="accordionPanelsStayOpenExample">
                <table class="w-100">
                    <thead>
                        <tr>
                            <th class="d-none"></th>
                            <th class="d-none"></th>
                        </tr>
                    </thead>
                    @{
                        var counter = 1;
                    }
                    <tbody>
                        @*                         @foreach (var obj in Model.AdminUploadDocument)
                        { *@
                        <tr class="d-flex flex-column">
                            <td>
                                <h2 class="accordion-header" id="flush-heading@(counter)"></h2>

                                <div class="accordion-button collapsed d-flex flex-column pb-0" data-bs-toggle="collapse"
                                     data-bs-target="#flush-collapse@(counter)" aria-expanded="false"
                                     aria-controls="flush-collapse@(counter)">

                                    <div class="w-100 ">
                                        <input type="checkbox" name="Mark" class="checkbox fileCheckbox me-2" onchange="allCheck()" />
                                        <span class="fw-bolder">
                                            vatsal
                                        </span>
                                    </div>
                                    <div class="w-100">
                                        <div class="">
                                            <span class="fw-bolder">On Call Status</span>: Un Available
                                        </div>
                                    </div>

                                </div>

                            </td>
                            <td>
                                <div id="flush-collapse@(counter)" class="accordion-collapse collapse"
                                     aria-labelledby="flush-heading@(counter)" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body main-flex pt-0">
                                        <div class="inner-flex pt-1">
                                            <span class="fw-bolder">Role</span>: Physician
                                        </div>
                                        <div class="inner-flex pb-2">
                                            <span class="fw-bolder">Status</span>: Active
                                        </div>
                                        <div class="inner-flex d-flex justify-content-between">
                                            <button type="button" class="btn btn-outline-dark border-info text-info">
                                                Contact
                                            </button>
                                            <button type="button" class="btn btn-outline-dark border-info text-info">
                                                Edit
                                            </button>
                                        </div>

                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>

<div id="providerContactModal">
</div>

<script>

    function contactProvider(phyId) {
        $.ajax({
            url: '/Admin/ProviderContactModal',
            type: 'GET',
            data: { phyId: phyId },
            success: function (result) {
                $("#providerContactModal").html(result);
                $('#ContactProviderModal').modal('show');
            },
            error: function (e) {
                console.log(e)
                alert("Error");
            },
        });
    }

    function checkBox(phyId) {
        $.ajax({
            url: "/Admin/ProviderCheckbox",
            data: { phyID: phyId },
            type: 'GET',
            success: function (result) {
                if (result.isStopped == true) {
                    toastr.success("Notification Stopped");
                } else {
                    toastr.success("Notification Started");
                }
            },
            error: function () {
                alert("Error");
            },
        });
    }

    function editProvider(phyId) {

        $.ajax({
            url: "/Admin/EditProvider",
            type: 'GET',
            data: { phyId: phyId },
            success: function (result) {
                console.log(result);
                $('#provider-tab-pane').html(result);
            },
            error: function (e) {
                console.log(e);
                alert('Error aa loading partial view');
            }
        });
    }


</script>                                            