@using DataAccess.CustomModels;
@model RecordsModel;

@{
    string[] Status = { "Unassigned", "Accepted" , "Cancelled" , "MDEnRoute"  , "MDOnSite" ,
                "Conclude" , "CancelledByPatient" , "Closed" , "Unpaid" , "Clear"   };
}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css" />

<div class="w-100 px-2 px-sm-5 my-3">

    <div class="d-flex justify-content-between">
        <h3>Search Records</h3>

        <button class="btn btn-info rounded-2 text-white" onclick="ScheduleExportAll()">
            <i class="bi bi-share"></i> <span class="d-none d-sm-inline-block">Export Data to Excel</span>
        </button>
    </div>

    <div class="shadow p-3 bg-white my-3 dark-mode1">
        <form id="searchRecordForm">
            <div class="row g-3">

         
                <div class="form-floating mb-3 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                    <select id="status" class="form-select" aria-label="Default select example" asp-for="@Model.searchRecordOne">
                        <option disabled selected>Select Request Status</option>
                        @for (var i = 1; i < 11; i++)
                        {
                            <option value=@i>
                                @Status[(int)(i-1)]
                            </option>
                        }
                    </select>
                    <label class="text-muted ms-2">Status</label>
                </div>


                <div class="form-floating mb-3 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                    <input class="form-control" type="search" placeholder="Patient Name" aria-label="Search" id="patient_name" asp-for="@Model.searchRecordTwo">
                    <label class="text-muted ms-2">Patient Name</label>
                </div>

        
                <div class="form-floating mb-3 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                    <select id="request_type" class="form-select" aria-label="Default select example" asp-for="@Model.searchRecordThree">
                        <option disabled selected>Select Request Type</option>
                        <option value="1">Patient</option>
                        <option value="2">Family/Friend</option>
                        <option value="3">Concierge</option>
                        <option value="4">Bussiness</option>

                    </select>
                    <label class="text-muted ms-2">Status</label>
                </div>

          
                <div class="form-floating mb-3  col-sm-6 col-md-3 col-lg-3 col-xl-3">
                    <input type="date" class="form-control " id="from_dateofService" placeholder="From Date of Service" asp-for="@Model.searchRecordFour">
                    <label for="datePickerId" class="ms-2 text-muted">From Date of Service</label>
                </div>


          
                <div class="form-floating mb-3  col-sm-6 col-md-3 col-lg-3 col-xl-3">
                    <input type="date" class="form-control " id="to_dateofService" placeholder="To Date of Service" asp-for="@Model.searchRecordFive">
                    <label for="datePickerId" class="ms-2 text-muted">To Date of Service</label>
                </div>


                <div class="form-floating mb-3 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                    <input class="form-control" type="search" placeholder="Provider Name" aria-label="Search" id="physician" asp-for="@Model.searchRecordSix">
                    <label class="text-muted ms-2">Physician Name</label>
                </div>

   
                <div class="form-floating mb-3 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                    <input class="form-control" type="search" placeholder="Email" aria-label="Search" id="email" asp-for="@Model.searchRecordSeven">
                    <label class="text-muted ms-2">Email</label>
                </div>

        
                <div class="form-floating mb-3 col-sm-6 col-md-3 col-lg-3 col-xl-3">
                    <input class="form-control" type="search" placeholder="Phone Number" aria-label="Search" id="phone" asp-for="@Model.searchRecordEight">
                    <label class="text-muted ms-2">Phone Number</label>
                </div>

                <div class="d-flex justify-content-end">
                    <button id="cancel_button" type="reset" class="btn btn-outline-info rounded-2 me-2">Clear</button>
                    <button id="search_button" type="button" onclick="searchRecordSearchBtn()" class="btn btn-info text-white rounded-2 ms-2">Search</button>
                </div>
            </div>
        </form>

        @if (Model.requestListMain[0].flag != 1)
        {
            <div class="table-responsive">
                <table id="serachRecordTable" class="table mt-3">

                    <thead class="table-active ">
                        <tr class="text-center">
                            <th class="col">Patient Name</th>
                            <th class="col">Requestor</th>
                            <th class="col">Date of Service</th>
                            <th class="col">Close Case Date</th>
                            <th class="col">Email</th>
                            <th class="col">Phone Number</th>
                            <th class="col">Address</th>
                            <th class="col">Zip</th>
                            <th class="col">Request Status</th>
                            <th class="col">Physician</th>
                            <th class="col">Physician Notes</th>
                            <th class="col">Cancelled by Provider Note</th>
                            <th class="col">Admin Note</th>
                            <th class="col">Patient Note</th>
                            <th class="col">Delete Permanently</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var obj in Model.requestListMain)
                        {
                            <tr class="text-center">
                                <td>@obj.patientname</td>
                                <td>@obj.requestor</td>
                                <td>Date Of Service</td>
                                <td>Close Case Date</td>
                                <td>@obj.email</td>
                                <td>@obj.contact</td>
                                <td>@obj.address</td>
                                <td>@obj.zip</td>
                                <td>@obj.status</td>
                                <td>@obj.physician</td>
                                <td>@obj.physicianNote</td>
                                <td>Cancelled by Provider Note</td>
                                <td>@obj.AdminNote</td>
                                <td>Patient Note</td>
                                <td>
                                    <button class="btn btn-outline-info" onclick="recordDltBtn(@obj.requestid)">Delete</button>
                                </td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>

        }
        else
        {
            <p>No Request Found</p>
        }
    </div>

</div>

<script>

    $(document).ready(function () {

        $('#serachRecordTable').DataTable({
            "initComplete": function (settings, json) {

                $('#my-search-input').val(settings.oPreviousSearch.sSearch);

                $('#my-search-input').on('keyup', function () {
                    var searchValue = $(this).val();
                    settings.oPreviousSearch.sSearch = searchValue;
                    settings.oApi._fnReDraw(settings);
                });
            },
            "lengthMenu": [[5, 10, -1], [5, 10, "All"]],
            "pageLength": 5,
            "order": [[3, "desc"]],
            // "columns": [{ "searchable": true }, { "searchable": false }, { "searchable": true }, { "searchable": false }, { "searchable": false }, { "searchable": false }, { "searchable": false }, { "searchable": false }, { "searchable": false }],
            language: {
                oPaginate: {
                    sNext: '<i class="bi bi-caret-right-fill text-info"></i>',
                    sPrevious: '<i class="bi bi-caret-left-fill text-info"></i>'

                }
            }
        });
        // $('.dataTables_length').hide();
        $('.dataTables_filter').hide();
    });

    function recordDltBtn(reqId) {
        $.ajax({
            url: "/Admin/recordDltBtn",
            data: { reqId: reqId },
            type: 'POST',
            success: function (result) {
                searchRecords();
            },
            error: function () {
                alert("Error");
            },
        });
    }

    function searchRecordSearchBtn() {
        var arrayMain = $("#searchRecordForm").serializeArray();
        console.log(arrayMain)

        event.preventDefault();

        $.ajax({
            url: "/Admin/SearchRecords",
            data: arrayMain,
            type: 'GET',
            success: function (result) {
                $("#record-tab-pane").html(result);
            },
            error: function () {
                alert("Error");
            },
        });
    }

    function ScheduleExportAll() {
        var arrayMain = $("#searchRecordForm").serializeArray();
        event.preventDefault();

        $.ajax({
            url: "/Admin/ScheduleExportAll",
            data: arrayMain,
            type: 'POST',
            xhrFields: {
                responseType: 'blob' // Set the response type to blob for binary data
            },
            success: function (result) {
                var blob = new Blob([result], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
                var link = document.createElement('a');
                link.href = window.URL.createObjectURL(blob);
                link.download = 'Requests.xlsx';
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link);
            },
            error: function () {
                alert("Error");
            },
        });
    }

</script>