@using DataAccess.CustomModels;
@model List<UserAccess>;

<div class="container">
    <h4 class="my-4">User Access</h4>

    <div class="border rounded shadow p-3 bg-white dark-mode1">
        <div class="d-md-flex w-25 justify-content-start align-items-center mb-3">
            <select class="form-select border-2" aria-label="Default select example" id="accountAccessType">
                <option value="0" selected>All</option>
                <option value="1">Admin</option>
                <option value="2">Physician</option>
            </select>
        </div>
        <div class="table-responsive d-lg-block d-none">
            <table class="table" id="usertable">
                <thead class="bg-body-tertiary ">
                <thead>
                    <tr>
                        <th>Account Type<span><i class="bi bi-arrow-up bg-transparent"></i></span></th>
                        <th>Account POC</th>
                        <th>Phone</th>
                        <th>Status</th>
                        <th>Open Requests</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                        @foreach (var item in Model)
                        {
                        <tr class="align-middle">
                            <td>
                                    @Enum.Parse( typeof(DataAccess.Enums.AccountType), item.accType.ToString())
                            </td>
                            <td>
                                    @item.fname @item.lname
                            </td>
                            <td>
                                    @item.phone
                            </td>
                            <td>
                                    @Enum.Parse( typeof(DataAccess.Enums.Status), item.status.ToString())
                            </td>
                            <td>
                                @item.openReq
                            </td>
                            <td>
                                <button type="button" class="btn  border-info text-info">
                                    Edit
                                </button>
                            </td>
                        </tr>
                        }
                </tbody>
            </table>
        </div>
    </div>

   
</div>



<script>


    $("#accountAccessType").change(function () {
        let selectedValue = $("#accountAccessType").val();
        $.ajax({
            url: '/Admin/ShowUserAccess',
            method: 'GET',
            data: { selectedValue: selectedValue },
            success: function (response) {
                console.log(selectedValue)
                $("#access-tab-pane").html(response);
                $('#accountAccessType').val(selectedValue);
            },
            error: function (error) {
                console.error('Error fetching data: ' + error);
            }
        });
    });



</script>                                            