@using DataAccess.CustomModels;
@model Order;
<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<div class="container">
    <div class="d-flex justify-content-between pt-3">
        <h2>Send Order</h2>
        <button onclick="location.href='@Url.Action("admin_dashboard", "Admin")'" id="back-btn">&lt; Back</button>

    </div>
    <form class="mt-3 border rounded-3 shadow pt-3 px-3 bg-white" >
        <div class="row">
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <select class="form-select text-secondary py-0" aria-label="Floating label select example" id="Healthprofessionalid">
                        <option disabled selected>Select Profession*</option>
                        @if (Model.Profession != null)
                        {
                            @foreach (var items in Model.Profession)
                            {
                                <option value="@items.Healthprofessionalid">@items.Professionname </option>
                            }

                        }
                    </select>
                    <label for="floatingSelect"></label>
                    <small id="professionRequired" class="d-none" style="color:red">Profession Is Required</small>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <select class="form-select text-secondary py-0" id="Vendorid" aria-label="Floating label select example">
                        <option disabled selected>Select Business*</option>

                    </select>
                    <label for="floatingSelect"></label>
                    <small id="businessRequired" class="d-none" style="color:red">Business Is Required</small>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input asp-for="BusineesContact" type="text" class="form-control" id="businessContact" disabled />
                    <label for="floatingInput" class="">Business Contact</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input asp-for="email" type="email" class="form-control" id="businessEmail" disabled />
                    <label for="floatingInput">Email</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input type="text" asp-for="faxnumber" class="form-control" id="businessFaxNumber" disabled />
                    <label for="floatingInput" class="">Fax Number</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="order details" id="orderDetail" style="height: 100px"></textarea>
                    <label for="floatingTextarea2" class="">
                        Prescription or Order details*
                    </label>
                    <small id="prescriptionRequired" class="d-none" style="color:red">Prescription Is Required</small>

                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating">
                    <select class="form-select" id="RefilNo" aria-label="Floating label select example">
                        <option disabled selected>Not Required</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <label for="floatingSelect">Number Of Refil</label>
                </div>
            </div>
        </div>
        <div class="footer mt-5 mb-4 text-end">
            <button type="button" id="submit" class="btn bg-info text-white">Submit</button>
            <button type="reset" class="btn border border-info text-info" data-bs-dismiss="modal">Cancel</button>
        </div>
    </form>
    <br />
    <br />
    <br />

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $('#Healthprofessionalid').on('change', function () {
        let selectedValue = $('option:selected', this).val();
        if (selectedValue != null) {
            $("#professionRequired").addClass('d-none').removeClass('d-block');
        }
        else {
            $("#professionRequired").addClass('d-block').removeClass('d-none');
        }
        $.ajax({

            url: '/Admin/FetchBusiness',
            method: 'GET',
            data: { proffesionId: selectedValue },
            success: function (response) {

                $('#businessContact').val(null);
                $('#businessFaxNumber').val("");
                $('#businessEmail').val("");

                $('#Vendorid').html("<option disabled selected value >" + "Select Business" + "</option>");

                for (var i = 0; i < response.length; i++) {
                    $("#Vendorid").append('<option value = "' + response[i].businessId + '" >' + response[i].businessName + '</option>');

                }


            },
            error: function (error) {
                console.error('Error fetching data: ' + error);
            }
        });
    });

    $('#Vendorid').change(function () {
        var selectedValue = $('option:selected', this).val();

        if (selectedValue != null) {
            $("#businessRequired").addClass('d-none').removeClass('d-block');
        }
        else {
            $("#businessRequired").addClass('d-block').removeClass('d-none');
        }

        $.ajax({
            url: '/Admin/VendorDetails',
            type: 'GET',
            data: {
                selectedValue: selectedValue,
            },
            success: function (result) {
                $('#businessFaxNumber').val(result["faxnumber"]);
                $('#businessContact').val(result["businesscontact"]);
                $('#businessEmail').val(result["email"]);

            },
            error: function (err) {
                console.error(err);
            }
        });
    });


    $('#orderDetail').on('input', function () {
        let prescription = $("#orderDetail").val();
        if (prescription != "") {
            $("#prescriptionRequired").addClass('d-none').removeClass('d-block');

        }
        else {
            $("#prescriptionRequired").addClass('d-block').removeClass('d-none');

        }
    });


    $("#submit").on('click', function () {

        var selectProfession = $("#Healthprofessionalid").val();

        if (selectProfession == null) {
            $("#professionRequired").addClass('d-block').removeClass('d-none');

        } else {
            $("#professionRequired").addClass('d-none').removeClass('d-block');
        }

        var selectBusiness = $("#Vendorid").val();

        if (selectBusiness == null) {
            $("#businessRequired").addClass('d-block').removeClass('d-none');
        } else {
            $("#businessRequired").addClass('d-none').removeClass('d-block');
        }

        var prescription = $("#orderDetail").val();
        if (prescription != "") {
            $("#prescriptionRequired").addClass('d-none').removeClass('d-block');
        }
        else {
            $("#prescriptionRequired").addClass('d-block').removeClass('d-none');

        }


        if ((selectProfession != null && selectBusiness != null) && prescription != "") {
            var payload = {
                ReqId: @Model.ReqId,
                ProfessionId: selectProfession,
                BusinessId: selectBusiness,
                BusineesContact: $('#businessContact').val(),
                faxnumber: $('#businessFaxNumber').val(),
                email: $('#businessEmail').val(),
                orderDetail: prescription,
                RefilNo: $('#RefilNo').val()
            }
      
            var url = '@Url.Action("orders","Admin")';
            var redirectUrl = '@Url.Action("admin_dashboard","Admin")';
            $.ajax({
                url: url,
                type: 'POST',
                data: payload,
                success: function (response) {
                    if (response.isSend) {
                        toastr.success("Order Send SuccessFully");
                        setTimeout(function () {
                            window.location.href = redirectUrl;
                        }, 1500);
                    }
                    else {
                        toastr.error("Order Failed");
                    }
                },
                error: function (error) {
                    console.log(error);
                    toastr.error("Something Went Wrong");
                }


            });
        }


    });

</script>