@using DataAccess.CustomModels;
@{
    ViewData["Title"] = "viewuploads";
}
@model ViewUploadModel;

<style>
    #downloadSelected {
        color: rgb(0, 183, 255);
        background-color: white;
        border: 1px solid rgb(0, 183, 255);
        border-radius: 5px;
    }

        #downloadSelected:hover {
            background-color: rgb(0, 183, 255);
            color: white;
        }
</style>
<link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/dark-mode.css" />
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

<link rel="stylesheet" href="~/css/patient_dashboard.css">

<div class="container my-5 bg-white ">

    <div class="container bg-white p-4 ">
        <div class="d-flex justify-content-between mb-4">
            <h2>Documents</h2>
            <button class="px-3" id="downloadSelected" onclick="location.href='@Url.Action("admin_dashboard", "Admin")'">&lt; Back</button>
        </div>
        <div class="row">
            <p class="col-12">Patient Name</p>
            <p class="col-12">
                <span class="fw-bolder fs-4">@Model.firstName @Model.lastName </span>
                <span>(f34r34t5gvr44)</span>
            </p>
            <p class="col-12 py-3">check here for any files that you or the doctors of your subsequents requestors have attached for you to review</p>

            <!-- row--- -->
        </div>

        <!-- ----container    -->
    </div>

    <form method="post" asp-action="UploadFiles" asp-controller="Admin" class="input-group my-5 mt-3" enctype="multipart/form-data">
        @*<input name="file" type="file" class="form-control" id="formFileLg" multiple>*@
        <input asp-for="uploadedFiles" type="file" class="form-control" id="formFileLg" multiple>
        <button type="submit" class="input-group-text bg-primary text-white" for="inputGroupFile02"><i class="bi bi-cloud-arrow-up m-1"></i>&nbsp;Upload</button>
        <br />
    </form>
    <div class="row my-3">
        <div class="col-12 d-flex justify-content-between">

            <h3>Documents</h3>
            <div class="d-flex gap-2">
                <button class="px-3" id="downloadSelected" onclick="downloadSelectedFiles()">Download All</button>
                <button class="px-3" id="downloadSelected" onclick="deleteAllFiles()">Delete All</button>
                <button class="px-3" id="downloadSelected" onclick="sendMail()">Send Mail</button>

            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table dataTable table-hover" id="data-table" aria-describedby="data-table_info">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" id="selectAll" onclick="toggleCheckboxes()">
                    </th>
                    <th class="sorting" data-value="Description">
                        File
                    </th>

                    <th>
                        Upload Date<i class="bi bi-arrow-up-short"></i>
                    </th>
                    <th>
                        Actions
                    </th>

                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.files.Count > 0)
                {
                    @foreach (var item in Model.files)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" name="selectedFiles" value="@item.Filename">
                            </td>

                            <td>
                                <i class="bi bi-file-earmark-fill" style="color:red"></i>
                                @item.Filename
                            </td>

                            <td>@item.Createddate.ToString("MMM dd, yyyy")</td>
                            <td>

                                <a href="~/UploadedFiles/@item.Filename" class="btn px-2 py-1 btn-outline-info shadow-none night-mode-btn" download>
                                    <i class="bi bi-cloud-download"></i>
                                </a>
                                <a class="btn ms-2 px-2 py-1 btn-outline-info shadow-none night-mode-btn" asp-controller="Admin" asp-action="DeleteFileById" asp-route-id="@item.Requestwisefileid">
                                    @*onclick="deleteFile(@item.Requestwisefileid)"*@
                                    <i class="bi bi-trash"></i>
                                </a>

                            </td>
                        </tr>

                    }
                }
                else
                {
                    <tr>
                        <td colspan="3" style="text-align: center;">No records found.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<script>
    function toggleCheckboxes() {
        var checkboxes = document.getElementsByName('selectedFiles');
        var selectAllCheckbox = document.getElementById('selectAll');

        for (var i = 0; i < checkboxes.length; i++) {
            checkboxes[i].checked = selectAllCheckbox.checked;
        }
    }

    function downloadSelectedFiles() {
        var selectedFiles = [];
        var checkboxes = document.getElementsByName('selectedFiles');

        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                selectedFiles.push(checkboxes[i].value);
            }
        }

        // If no files are selected, return
        if (selectedFiles.length === 0) {
            alert('Please Select At Least One File To Download.');
            return;
        }

        // Construct URLs for all selected files and initiate download
        for (var j = 0; j < selectedFiles.length; j++) {

            var fileUrl = '/UploadedFiles/' + selectedFiles[j];
            var link = document.createElement('a');
            link.href = fileUrl;
            link.setAttribute('download', ''); // This attribute triggers the download
            link.click(); // Simulate a click event to initiate the download
        }

    }


    function deleteAllFiles() {
        var selectedFiles = [];
        var checkboxes = document.getElementsByName('selectedFiles');

        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                selectedFiles.push(checkboxes[i].value);
            }
        }

        // If no files are selected, return
        if (selectedFiles.length === 0) {
            alert('Please Select At Least One File To Delete.');
            return;
        }

        var confirmDelete = confirm("Are You Sure You Want To Delete All Selected Files?");
        if (!confirmDelete) {
            return;
        }
        deleteSelectedFiles(selectedFiles);

    }

    function deleteSelectedFiles(selectedFiles) {
        $.ajax({
            url: '/Admin/DeleteAllFiles',
            type: 'POST',
            data: { selectedFiles: selectedFiles },
            success: function (response) {

                window.location.reload();

            }
        });
    }


    function sendMail() {
        var selectedFiles = [];
        var checkboxes = document.getElementsByName('selectedFiles');

        for (var i = 0; i < checkboxes.length; i++) {
            if (checkboxes[i].checked) {
                selectedFiles.push(checkboxes[i].value);
            }
        }

        // If no files are selected, return
        if (selectedFiles.length === 0) {
            alert('Please select at least one file to Send.');
            return;
        }

        var confirmDelete = confirm("Are you sure you want to send all selected files?");
        if (!confirmDelete) {
            return;
        }

        sendSelectedFiles(selectedFiles);
    }
    function sendSelectedFiles(selectedFiles) {
        $.ajax({
            url: '/Admin/SendAllFiles',
            type: 'POST',
            data: { selectedFiles: selectedFiles },
            success: function (response) {

                window.location.reload();

            }
        });
    }


</script>