@using DataAccess.CustomModels;
@model CreateNewShift;

<div class="modal fade" id="ViewShiftModel" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border border-0 rounded-3 dark-mode1">
            <form id="editViewShiftForm">
                <div class="modal-header bg-info text-white">
                    <h5 class="modal-title" id="staticBackdropLabel">View Shift</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex flex-row">
                        <p class="text-secondary mr-1">To assign this request, search and select another physician.</p>
                    </div>
                    <input asp-for="PhysicianId" hidden />
                    <input asp-for="shiftdetailid" hidden />
                    <div class=" gap-2">
                        <div class="form-floating mb-3">
                            <select asp-for="RegionId" disabled class="form-select dark-mode1 text-secondary regionData d4class" id="floatingSelect" aria-label="Floating label select example">
                                <option value="@Model.RegionId" selected>@Model.RegionName</option>
                            </select>
                            <label for="floatingSelect">Narrow Search By Region</label>

                        </div>
                        <div class="form-floating mb-3">
                            <select asp-for="PhysicianName" disabled class="form-select dark-mode1 d4class text-secondary physician py-1" id="physelect" aria-label="Floating label select example">
                                <option value="@Model.PhysicianId" selected>@Model.PhysicianName</option>
                            </select>
                            <label for="physelect"></label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="date" asp-for="ShiftDate" class="form-control dark-mode1 d4class" id="floatingInput" placeholder="shift date" disabled />
                            <label for="floatingInput" class=""></label>
                            <span asp-validation-for="ShiftDate" class="text-danger"></span>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class=" form-floating mb-3">
                                    <input asp-for="Start" type="time" class="form-control dark-mode1 d4class" id="floatingInput" placeholder="start" disabled />
                                    <label for="floatingInput" class="">Start</label>
                                    <span asp-validation-for="Start" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating mb-3">
                                    <input asp-for="End" type="time" class="form-control dark-mode1 d4class" id="floatingInput" placeholder="end" disabled />
                                    <label for="floatingInput" class="">End</label>
                                    <span asp-validation-for="End" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn bg-info text-white assign d-none" onclick="editShift()" id="saveViewShift">save</button>
                    <button type="button" onclick="enableFieldsViewShift()" class="btn border border-info text-info" id="editViewShift">Edit</button>
                    <button type="button" class="btn bg-danger text-white" data-bs-dismiss="modal" onclick="deleteShift()">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>


<partial name="_ValidationScriptsPartial" />

<script>

    function editShift() {
        if ($('#editViewShiftForm').valid()) {
            var payload = $('#editViewShiftForm').serializeArray();
            $.ajax({
                url: '/Admin/EditViewShift',
                type: 'POST',
                data: payload,
                success: function (result) {
                    if (result.isEditted) {
                        toastr.success("Shift Edited");
                        $('#ViewShiftModel').modal('hide');
                        
                        ();
                    }
                    else {
                        toastr.error("Unable to edit");
                    }
                }
            })
        }

    }

    function returnShift() {
        var payload = $('#editViewShiftForm').serializeArray();
        console.log(payload);
        $.ajax({
            url: '/Admin/ReturnShift',
            type: 'POST',
            data: payload,
            success: function (result) {
                if (result.isReturned) {
                    toastr.success("Shift Returned");
                    $('#ViewShiftModel').modal('hide');
                    ShowScheduling();
                }
                else {
                    toastr.error("Unable to Return");
                }
            }
        })
    }

    function deleteShift() {
        var payload = $('#editViewShiftForm').serializeArray();
        console.log(payload);
        $.ajax({
            url: '/Admin/DeleteShift',
            type: 'POST',
            data: payload,
            success: function (result) {
                if (result.isDeleted) {
                    toastr.success("Shift Deleted");
                    $('#ViewShiftModel').modal('hide');
                    ShowScheduling();
                }
                else {
                    toastr.error("Unablw to Delete");
                }
            }
        })
    }

    // $(document).ready(function () {
    //     $('#myForm').submit(function (e) {
    //         e.preventDefault();
    //         if ($('#myForm').valid()) {
    //             $.ajax({
    //                 url: '/Admin/CreateShift/',
    //                 type: 'post',
    //                 data: $(this).serialize(),
    //                 success: function (response) {
    //                 },
    //                 error: function (error) {
    //                 }
    //             });
    //         }
    //     });
    // });
    // $(document).ready(function () {

    //     $('.regionData').on('change', function (e) {
    //         var regionid = $(this).val();

    //         $.ajax({
    //             url: '/Admin/FilterData',
    //             data: { "regionid": regionid },
    //             success: function (response) {
    //                 var physelect = $('#physelect');
    //                 physelect.empty();
    //                 physelect.append($('<option>', {
    //                     value: "",
    //                     text: "Select Physician"
    //                 }))
    //                 response.forEach(function (item) {
    //                     physelect.append(
    //                         $('<option>', {
    //                             value: item.physicianId,
    //                             text: item.name
    //                         }));
    //                 });
    //             },
    //             error: function (error) {
    //                 console.error(error);
    //             }
    //         });
    //     });
    // });

    function enableFieldsViewShift() {
        document.querySelectorAll('.d4class').forEach(function (element) {
            element.disabled = false;
        });
        // Show the submit and cancel buttons, hide the edit button
        $('#saveViewShift').removeClass('d-none');
        $('#editViewShift').addClass('d-none');
        // document.getElementById('cancelBtn').style.display = 'block';
        // document.getElementById('editViewShift').style.display = 'none';
    }
    $("#save").css('display', 'none');
    // $('#edit').on('click', function () {
    //     $('.Editshift').each(function () {
    //         $(this).prop('disabled', false);
    //     })
    //     $("#save").css('display', 'inline-block');
    //     $(this).css('display', 'none');
    // // })

    $("#save").on("click", function () {
        var formdata = {
            ShiftDetailId: @Model.shiftdetailid,
            ShiftDate: $('#shidtdate').val(),
            Start: $('#start').val(),
            End: $('#end').val(),
        }
        $.ajax({
            url: "/Admin/EditShift",
            type: "POST",
            data: formdata,
            success: function () {
                Day();
                window.location.reload();
            },
            error: function (error) {
                console.log(error)
            }
        });
        // $('.Editshift').each(function () {
        //     $(this).prop('disabled', true);
        // })
        // $("#edit").css('display', 'inline-block');
        // $(this).css('display', 'none');
    })



</script>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>